@charset 'utf8';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* Body Configs */

body {
  display: flex;
  flex-direction: column;
  font-family: 'Barlow Condensed', sans-serif;
  width: 100vw;
  height: 100vh;
}

/* Header nav Configs */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 96px;
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 46px;
  height: 46px;
  margin: 0 55px;
}

.imagebackground {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(images/home-images/space-home-background.jpg);
  background-repeat: no-repeat;
  transition: all 0.5s;
  background-size: cover;
}

.bar {
  position: absolute;
  z-index: 2;
  left: 140px;
  width: 400px;
  height: 3px;
  border-bottom: 1px solid #ffff;
  opacity: 0.25;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  height: 96px;
  width: 62%;
  max-width: 100%;
  position: relative;
}

/* Menu Mobile Version */

.menu {
  display: none;
}

.hamburguer-bar {
  display: none;
  width: 28px;
  height: 3px;
  border-radius: 7px;
  margin: 5px auto;
  background-color: #d0d6f9;
  transition: all 0.3 ease-in-out;
}

header input[type='radio'] {
  display: none;
}

header input[type='radio'] + label:after {
  content: '';
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

header input[type='radio']:checked + label:after {
  width: 100%;
}
header input[type='radio'] + label:active {
  opacity: 0.25;
}
header form label {
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-right: 50px;
  height: 100%;
  position: relative;
  padding: 35px 0;
}

form label span {
  margin-right: 11px;
  font-weight: 700;
}

.section-description {
  margin-left: 200px;
  width: auto;
  margin-bottom: 20px;
  display: none;
  gap: 11px;
}

.section-number {
  color: white;
  opacity: 0.25;
  font-size: 28px;
  font-weight: 700;
}

.section-title {
  font-size: 28px;
  letter-spacing: 2px;
  color: white;
}

/* First Section Home Configuration */

.home00 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.space-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.space-paragraph {
  font-size: 28px;
  color: #d0d6f9;
}

.title {
  font-family: 'bellefair', ' sans-serif';
  font-weight: 400;
  font-size: 150px;
  color: white;
}

.space-description-paragraph {
  color: #d0d6f9;
  font-size: 18px;
  line-height: 32px;
  width: 444px;
  height: 128px;
}

.explore {
  width: 274px;
  height: 274px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  border: none;
  align-self: flex-end;
  font-family: 'bellefair', ' sans-serif';
  color: #0b0d17;
  font-size: 32px;
  transition: 0.5s;
}
.explore:hover {
  box-shadow: 10px 10px 50px #8d8585, -10px -10px 50px #7c7c85;
}

.planet-image img {
  width: 350px;
  height: 350px;
  min-width: 120px;
  min-height: 120px;
}

.planets-description {
  justify-content: flex-end;
}

/* Destination Section Configuration */
.destination01 {
  width: 70%;
  display: none;
  justify-content: space-between;
  margin: 0 auto;
}

.planets-description {
  justify-self: flex-end;
}

.planets-description input[type='radio']:checked + label:after {
  width: 100%;
}
.planets-description input[type='radio'] + label:active {
  opacity: 0.25;
}

.planets-description form label {
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-right: 35px;
  height: 100%;
  position: relative;
  padding-bottom: 12px;
}

.planets-description form {
  margin-bottom: 50px;
}

.planets-description input[type='radio'] {
  display: none;
}

.planets-description input[type='radio'] + label:after {
  content: '';
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.planets-description input[type='radio'] + label:hover {
  opacity: 0.25;
}

.planet-name {
  color: white;
  font-family: 'ballefair', 'sans-serif';
  font-size: 100px;
  font-weight: 400;
}

.planet-description {
  line-height: 32px;
  font-size: 18px;
  width: 444px;
  height: 128px;
  color: #d0d6f9;
  margin-bottom: 30px;
}

.planet-nerd-description {
  padding-top: 10px;
  border-top: 1px solid #383b4b;
  display: flex;
  justify-content: space-around;
  gap: 12px;
}

.info-title {
  color: #d0d6f9;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 2px;
}

.info-number {
  font-family: 'ballefair', 'sans-serif';
  font-size: 28px;
  line-height: 32px;
  color: #ffff;
}

/* Crew Section Configuration */
.crew02 {
  position: relative;
  display: none;
  width: 70%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

.category {
  font-family: 'ballefair', 'sans-serif';
  font-weight: 400;
  color: white;
  opacity: 0.25;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 15px;
}

.crew-name {
  font-family: 'ballefair', 'sans-serif';
  color: white;
  line-height: 64px;
  font-weight: 400;
  font-size: 46px;
  width: 100%;
  margin-bottom: 27px;
}

.crew-info {
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  width: 444px;
  height: 128px;
  margin-bottom: 30px;
}

.crewImages img {
  height: 410px;
}

.crew02 form input {
  margin-right: 24px;
  appearance: none;
  background-color: #ffffff;
  opacity: 0.25;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 30px;
}

.crew02 form input:hover {
  opacity: 50%;
}

.crew02 form input:checked {
  background-color: white;
  opacity: 1;
}

.crew02 form {
  position: absolute;
  bottom: -30px;
}
/* Technology Section Configuration */

.technology03 {
  display: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.left-side {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.technology03 form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

.technology03 input[type='radio'] {
  display: none;
}

.technology03 input[type='radio']:checked + label {
  background-color: white;

  color: #0b0d17;
}

.technology03 label {
  font-family: 'ballefair', 'sans-serif';
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.267);
  color: white;
  font-size: 32px;
  border-radius: 50%;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
}

.technology-info {
  width: 70%;
  height: 300px;
}

.terminology {
  color: #d0d6f9;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 19px;
  margin-bottom: 11px;
}

.name-technology {
  font-family: 'ballefair', 'sans-serif';
  color: white;
  font-size: 56px;
  line-height: 64px;
}

.about-technology {
  width: 444px;
  color: #d0d6f9;
  line-height: 32px;
}

.technology03 img {
  width: 500px;
  height: 400px;
}

/* Tablet Querie Version */

@media screen and (max-width: 1250px) {
  .planet-image {
    width: 100%;
    height: 100%;
  }
  header {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .bar {
    display: none;
  }

  .section-number {
    font-size: 20px;
  }

  .section-title {
    font-size: 20px;
  }

  .home00 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .space-description {
    align-items: center;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .title {
    font-size: 150px;
    line-height: 150px;
  }

  .space-description-paragraph {
    text-align: center;
  }

  .explore {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  /* Destination Section Tablet */

  .destination01 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .destination01 img {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .planets-description form {
    align-items: center;
    margin-bottom: 10px;
  }

  .planets-description form label {
    margin-right: 30px;
  }

  .planets-description form label:nth-child(8) {
    margin-right: 0;
  }

  .planet-name {
    font-size: 50px;
  }
  .planet-description {
    width: 573px;
    height: 104px;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 0;
  }

  .planet-nerd-description {
    margin-bottom: 0;
  }

  .info-number {
    font-size: 18px;
    line-height: 15px;
  }

  .crew02 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    height: 100%;
  }

  .crew02 form {
    position: relative;
    margin: 0;
  }

  .crew-name {
    line-height: 15px;
    font-weight: 400;
    font-size: 37px;
  }

  .crew-info {
    margin: 0 auto;
    height: 70px;
    line-height: 20px;
  }

  .crew02 img {
    height: 250px;
    align-self: flex-end;
  }

  .technology03 {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .left-side {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .terminology {
    margin-top: 10px;
  }

  .technology03 img {
    margin-top: 10px;
    width: 100%;
    height: 310px;
    object-fit: fill;
    align-self: center;
    justify-content: center;
  }

  .technology03 form {
    flex-direction: row;
  }

  .name-technology {
    font-size: 28px;
    line-height: 20px;
  }

  .technology-info {
    line-height: 20px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  .about-technology {
    width: 458px;
    height: 80px;
    text-align: center;
    margin: 10px auto;
    line-height: 20px;
  }
}

/* Mobile Querie Version */

@media screen and (max-width: 830px) {
  .planet-image {
    width: 100%;
    height: 100%;
  }
  header {
    margin-bottom: 25px;
  }
  .container {
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .menu {
    display: block;
    cursor: pointer;
    right: 35px;
    position: absolute;
    z-index: 35;
  }

  .section-description {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .section-number {
    font-size: 16px;
  }

  .section-title {
    font-size: 16px;
  }

  .hamburguer-bar {
    display: block;
    z-index: 31;
    transition: 0.3s;
  }
  .menu.active .hamburguer-bar:nth-child(2) {
    opacity: 0;
  }

  .menu.active .hamburguer-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.active .hamburguer-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-content.active {
    right: 0px;
  }
  .nav-content {
    display: flex;
    right: -700px;
    transition: 0.5s;
    z-index: 30;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0;
    top: 0px;
    bottom: 0px;
    position: fixed;
    height: auto;
    width: 75%;
  }
  .nav-content label:active {
    opacity: 0.25;
  }
  .nav-content form {
    margin-top: 30px;
  }

  .nav-content label {
    position: relative;
    font-size: 38px;
    top: 1px;
    margin-left: 20px;
    margin-right: 0px;
    display: flex;
    padding: 10px;
  }

  .home00 {
    height: auto;
  }
  .space-paragraph {
    font-size: 25px;
  }

  .planet-name {
    font-size: 56px;
  }

  .title {
    font-size: 80px;
  }

  .space-description-paragraph {
    font-size: 15px;
    line-height: 20px;
    width: 250px;
  }

  .explore {
    width: 200px;
    height: 200px;

    font-size: 15px;
    margin: 10px auto;
  }
  .destination01 {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .destination01 img {
    width: 200px;
    height: 200px;
  }

  .planet-description {
    height: 105px;
    line-height: 20px;
    width: 370px;
    margin: 0;
  }

  .planet-info {
    gap: 0;
    justify-content: unset;
    line-height: 15px;
    margin-bottom: 0;
    padding: 0;
  }

  .info-title {
    font-size: 14px;
    line-height: 15px;
    padding: 0;
    margin: 0;
  }

  .info-number {
    font-size: 15px;
    line-height: 15px;
    padding: 0;
    margin: 0;
  }

  .planet-nerd-description {
    flex-direction: column;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .crew02 {
    flex-direction: column-reverse;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
  }

  .crew02 img {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    border-bottom: 1px solid white;
  }

  .category {
    font-size: 16px;
  }

  .crew-name {
    font-size: 24px;
    line-height: 25px;
    margin: 10px 0;
  }
  .crew02 form {
    align-items: center;
    justify-content: center;
    top: 0;
  }

  .crew02 form input {
    margin: 0 10px 0 0;
  }

  .crew02 form input:nth-child(4) {
    margin: 0;
  }
  .crew-info {
    width: 250px;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .technology03 img {
    margin-top: 10px;
    width: 250px;
    height: 250px;
  }

  .technology03 form {
    margin: 10px 0 0 0;
  }
  .about-technology {
    width: 220px;
    height: 150px;
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
    line-height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .destination01 img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .nav-content label {
    font-size: 18px;
  }

  .container {
    align-items: flex-start;
  }
  .explore {
    width: 100px;
    height: 100px;
  }

  .destination01 form {
    margin-bottom: 20px;
  }

  .destination01 form label {
    font-size: 10px;
  }

  .planet-name {
    font-size: 30px;
  }

  .destination01 img {
    width: 100px;
    height: 100px;
  }

  .planet-description {
    font-size: 10px;
    width: 100%;
    height: 100px;
    padding-bottom: 2px;
  }

  .planet-nerd-description {
    gap: 8px;
    margin-bottom: 10px;
  }

  .info-number {
    margin-top: 10px;
  }

  .crew02 img {
    height: 200px;
  }

  .technology03 img {
    width: 150px;
    height: 150px;
  }

  .technology03 form label {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .name-technology {
    font-size: 20px;
  }

  .about-technology {
    font-size: 12px;
    margin: 10px 0 0 0;
    width: 100%;
  }
}
